.page-container{
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* tentar fazer para projeto pessoal usando o gridlayout e criar um modo escuro de tela. */
}
