.header {
  width: 100%;
  /*padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px;*/
  padding: 1rem 1.5rem;

  background-color: var(--primary-color);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16),  0 1px 2px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

}

@media screen and (max-width: 768px){
  .header{
    justify-content: center;
  }
}
